

<b>MY TODO List</b>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-0 col-md-6 col-sm-offset-1 col-md-offset-2"> 
    <div class="center">
 <input type="text" placeholder="Enter your task" class="form-control" #f>
 <span><button class="btn btn-danger" (click)="addTolist(f.value)"  style="   line-height: 26px;
  width: 75px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 25px;
  margin-right: 800px;
  position:absolute;
  top:0;
  right:0;">Add</button></span>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
<div class="col-xs-2 col-sm-0 col-md-6 col-sm-offset-1 col-md-offset-2"> 
<div class="list-container">
  <ul class="list-group" *ngFor="let item of Todolists; let i=index">
    <li class="list-group-item list-group-item-warning" (click)="completed(i)" >{{item}} 
      <div >
        <span >

          <button class="btn btn-danger" style="   line-height: 22px;
          width: 50px;
          font-size: 8pt;
          font-family: tahoma;
          margin-top: 1px;
          margin-right: 60px;
          position:absolute;
          top:0;
          right:0;" (click)="remove(i)">
       <b>PEND</b> 
          </button>
          
        </span>
      </div>
  </li>
   
      <!-- <img src="https://cdn-icons-png.flaticon.com/128/5028/5028066.png" alt="" class="conrner-image"> -->
  </ul>
  

</div>
</div>
</div>
</div>
<button class="btn btn-primary" (click)="enable()">Show Pendinglist</button>
<div class="container">
  <div class="row">
<div class="col-xs-2 col-sm-0 col-md-6 col-sm-offset-1 col-md-offset-2"> 
<div class="list-container">
<div *ngIf="flag">
  <ul class="list-group" *ngFor="let item of Pendiglist; let i=index">
    <li class="list-group-item list-group-item-warning" >{{item}} 
      <span >

        <button class="btn btn-danger" style="   line-height: 22px;
        width: 50px;
        font-size: 8pt;
        font-family: tahoma;
        margin-top: 1px;
        margin-right: 60px;
        position:absolute;
        top:0;
        right:0;" (click)="deleted(i)">
      <b>DONE</b>
        </button>
        
      </span>
    </li>
  </ul>
</div>
</div>
</div>
  </div>
  


      
    
